@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&family=Kanit:wght@400;700&family=Playfair+Display:wght@700&display=swap");

//customize color
// $primary: #581b98;
// $secondary: #364f6b;
// $success: #086972;
// $danger: #fc5185;

//map (like loop)
$theme-colors: (
  "primary": #581b98,
  "zmh": gold,
  //   "secondary": $secondary,
  //   "success": $success,
  //   "info": $info,
  //   "warning": $warning,
  "danger": red,
  //   "light": $light,
  //   "dark": $dark,,,
  );


  // $border-radius: 100px;
  $spacer: 2rem;  
  
// $spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10: $spacer * 6,
  20: $spacer * 12,
);

// $body-bg: rgb(204, 189, 189);


//customize button
// $btn-border-radius: 0px;
$btn-font-weight: bolder;
// $btn-padding-x: 30px;
// $input-btn-padding-x : 50px;
// $btn-box-shadow : 5px 5px 3px black !important;

$display-font-family: "Josefin Sans", sans-serif;
$headings-font-family: "Kanit", sans-serif;
$font-family-sans-serif: "Playfair Display", serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";


@include media-breakpoint-only(sm) {
  .box {
    width: 100px;
    height: 100px;
    background-color: $primary;
    border-radius: 50%;
  }
}

@include media-breakpoint-only(lg) {
  .box {
    width: 100px;
    height: 100px;
    background-color: $primary;
  }
}
